// Header components
.item-categorie{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    img{
        max-width: 16px;
        max-height: 16px;
    }
    span{
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 150%;
        mix-blend-mode: normal;
        color: var(--white-opacity);
        transition: color .3s ease;
        &:hover{
            color: var(--pink);
        }
    }
}
.search{
    width: 100%;
    max-width: 28rem;
    display: flex;
    align-items: center;
    height: 3.6rem;
    input{
        border: 1px solid rgba(153, 149, 166, 0.25);
        border-radius: 0.4rem;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        flex: 1; // max possible
        background-color: transparent;
        padding: 0 1.6rem;
        height: 100%;
        font-family: 'Atyp BL Text', sans-serif;
        color: #ffffff;
        transition: border .3s ease;
        &::placeholder{
            font-weight: 400;
            font-size: 1.3rem;
            line-height: 150%;
            color: rgba(255, 255, 255, 0.5);
        }
        &:focus{
            border: 1px solid var(--pink);
        }
    }
    button{
        width: 3.6rem;
        height: 3.6rem;
        margin-left: -5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--pink);
        border-radius: 0.4rem;
        transition: filter .3s ease;
        &:hover{
            filter: brightness(0.8)
        }
    }
}