// Footer
footer{
    padding-bottom: 6.3rem;
    .container{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .left-text{
        display: flex;
        align-items: flex-start;
        width: 100%;
        max-width: 75rem;
        justify-content: space-between;
        strong{
            max-width: 12.4rem;
            font-family: 'Atyp BL Text', sans-serif;
            font-weight: 700;
            font-size: 1.4rem;
            line-height: 150%;
            /* identical to box height, or 21px */
            color: #FFFFFF;
        }
        p{
            font-family: 'Atyp BL Text', sans-serif;
            font-weight: 400;
            font-size: 1.4rem;
            line-height: 150%;
            /* or 21px */
            color: #FFFFFF;
            opacity: 0.8;
            width: 100%;
            max-width: 60rem;
        }
    }
    .right-text{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        max-width: 26rem;
        img{
            width: 100%;
            max-width: 15rem;
        }
        button{
            display: flex;
            align-items: center;
            justify-content: center;
            opacity: 0.4;
            border: 2px solid rgba(255, 255, 255);
            border-radius: 50%;
            width: 3.7rem;
            height: 3.7rem;
            transition: all .3s ease;
            &:hover{
                opacity: 1;
            }
            img{
                max-width: 1.3rem;
            }
        }
    }
    // Responsive
    @media (max-width: 1150px){
        padding-bottom: 6rem;
        padding-top: 6rem !important;
    }
    @media (max-width: 991px){
        .left-text{
            max-width: 57rem !important;
            p{
                max-width: 44rem !important;
            }
    }
    }
    @media (max-width: 768px){
        .container{
            flex-direction: column;
            align-items: center;
            gap: 3rem;
        }
        .left-text{
            width: 100%;
            flex-direction: column;
            align-items: center;
            text-align: center;
            gap: 2rem;
            p{
                max-width: 100% !important;
            }
            strong{
                max-width: 100%;
            }
        }
    }
    @media (max-width: 560px){
        padding-bottom: 4rem !important;
        padding-top: 4rem !important;
    }

}