// Hero
.s-hero-post{
    padding-top: 8.3rem;
    padding-bottom: 11.7rem;
    .container{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .left-container{
        width: 100%;
        max-width: 60rem;
        flex: 1;
        .title{
            span{
                padding-bottom: 1.4rem;
                display: block;
            }
            padding-bottom: 4.2rem;
        }
    }
    .right-container{
        margin-top: 4rem;
        max-width: 38.4rem;
        h4{
            padding-bottom: 4.2rem;
        }
        .all{
            .item-post{
                position: relative;
                &:not(:last-child){
                    margin-bottom: 3.2rem;
                    padding-bottom: 3.2rem;
                    &:after{
                        content: "";
                        bottom: 0;
                        position: absolute;
                        left: 0;
                        background: url("../img/line-divisor.svg") no-repeat center center;
                        width: 100%;
                        height: 0.2rem;
                    }
                }
            }
        }
    }
    // Responsive
    @media(max-width: 1150px){
        .container{
            display: grid;
            grid-template-columns: 1fr 35rem;
            grid-gap: 3rem;
        }
    }
    @media (max-width: 768px){
        .container{
            grid-template-columns: 1fr;
            grid-gap: 2rem;
        }
        .left-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 4rem;
            .title{
                padding-bottom: 2rem;
                span{
                    text-align: center;
                }
            }
            .info{
                h3{
                    max-width: 100%;
                    text-align: center;
                }
            }
        }
        .right-container{
            max-width: 100%;
            h4{
                text-align: center;
            }
            .all{
                .item-post{
                    &:not(:last-child){
                        &:after{
                            background-size: cover;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 560px){
        .container{
            grid-gap: 0px;
        }
        .left-container{
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            padding-bottom: 3rem;
            margin-bottom: 0px;
            .title{
                margin-bottom: 0rem;
            }
        }
        .right-container{
            margin-top: 3rem;
            h4{
                padding-bottom: 3rem;
            }
            .all{
                .item-post{
                    position: relative;
                    &:not(:last-child){
                        margin-bottom: 2rem;
                        padding-bottom: 2rem;
                    }
                }
            }
        }
    }
}
.s-articles{
    background-color: white;
    padding-top: 11.7rem;
    padding-bottom: 12rem;
    border-bottom: 2px solid #1C162E;
    .top{
        width: 100%;
        padding-bottom: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h2{
            color: var(--gray-scale-01);
        }
        p{
            display: flex;
            align-items: center;
            justify-content: space-between;
            img{
                margin-left: 1.6rem;
            }
        }
    }
    .all{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 4rem 3.2rem; // em baixo e nas laterais
        margin-bottom: 8rem;
    }
    button{
       display: block;
       margin: 0 auto;
    }
    // Responsive
    @media (max-width: 1150px){
        .all{
            grid-gap: 2rem;
            margin-bottom: 4rem;
        }
    }
    @media (max-width: 768px){
        .all{
            grid-template-columns: 1fr 1fr;
        }
    }
    @media (max-width: 560px){
        .top{
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            padding-bottom: 3rem;
        }
        .all{
            grid-template-columns: 1fr;
            grid-gap: 3.2rem;
        }
        button{
            max-width: 100%;
            font-size: 1.8rem;
            height: 5.8rem;
        }
    }
}
.s-podcast{
    padding-top: 12rem;
    padding-bottom: 8rem;
    border-bottom: 2px solid #1C162E;
    .top{
        padding-bottom: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .ctrl-slide{
            display: flex;
            align-items: center;
            flex: 1;
            justify-content: space-between;
            max-width: 18.4rem;
            .swiper-pagination{
                position: relative; // by default is absolute
                bottom: 0; // by default pagination
                margin-right: 4rem;
                width: auto; // by default pagination
                .swiper-pagination-bullet{
                    background-color: var(--pink);
                    width: 2.4rem;
                    height: 3px;
                    border-radius: 0px;
                    opacity: 0.25;
                    transition: all .3s ease;
                    // active class by default
                    &-active{
                        opacity: 1;
                    }
                }
            }
            .ctrl{
                display: flex;
                align-items: center;
                gap: 1rem;
                .btn{
                    &-prev{
                        transform: rotate(180deg);
                    }
                    // class by default from swiper pagination
                    &.swiper-button-disabled{
                        opacity: 0.25;
                        pointer-events: none;
                    }
                }
            }
        }
    }
    .slide-podcast{
        // hide other slides (more than 4)
        overflow: hidden;
        position: relative;
    }
    // Responsive
    @media (max-width:1150px){
        .container{
            padding: 0px;
        }
        .top{
            margin-bottom: 3rem;
            padding: 0px 15px;
            .ctrl-slide{
                .swiper-pagination{
                    display: none;
                }
                justify-content: flex-end;
            }
        }
        .slide-podcast{
            padding: 0px 15px;
        }
    }
    @media (max-width: 560px){
        .top{
            margin-bottom: 2rem;
        }
    }
}
.s-playlist{
    padding-top: 8rem;
    padding-bottom: 0rem !important;
    .container{
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-bottom: 8rem;
        &:after{
            content: "";
            height: 0.2rem;
            width: 100%;
            bottom: 0;
            left: 0;
            position: absolute;
            background: url("../img/line-footer.svg") no-repeat center center;
        }
    }
    .text-left{
        max-width: 20.5rem;
        h4{
            width: 100%;
            max-width: 20.5rem;
            margin-top: 1.4rem;
        }
    }
    .right-container{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        max-width: 74.1rem;
        width: 100%;
        .item-playlist{
            &:not(:last-child){
                margin-right: 8.7rem;
            }
            &:hover{
                h5{
                    opacity: 1;
                }
            }
            h5{
                transition: all .3s ease;
                font-family: 'Atyp BL Text', sans-serif;
                font-size: 1.8rem;
                line-height: 120%;
                /* or 22px */
                color: #FFFFFF;
                opacity: 0.7;
            }
            .icon{
                display: flex;
                align-items: center;
                gap: 3.2rem;
                margin-bottom: 2.1rem;
            }
        }
    }
    // Responsive
    @media (max-width: 991px){
        .right-container{
            max-width: 60rem;
        }
    }
    @media (max-width: 768px){
        .container{
            flex-direction: column;
            align-items: center;
            gap: 4rem;
        }
        .text-left{
            h4{
                max-width: 100%;
            }
            max-width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .right-container{
            max-width: 100%;
            align-items: center;
            text-align: center;
            .item-playlist{
                display: flex;
                align-items: center;
                flex-direction: column;
            }
        }
    }
    @media (max-width: 560px){
        .text-left{
            text-align: center;
            h4{
                max-width: 90%;
            }
        }
        .right-container{
            flex-direction: column;
            gap: 3rem;
            .item-playlist:not(:last-child) {
                margin-right: 0px;
            }
        }
    }
}