.s-details-post{
    background-color: white;
    padding-top: 4.8rem;
    padding-bottom: 12rem;
    position: relative;
    &:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: #050110;
        width: 100%;
        height: 34.8rem;
        z-index: 0;
    }
    .top-details{
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .breadcrumbs{
            display: flex;
            align-items: center;
            gap: 4rem;
            flex: 1;
            width: 100%;
            li{
                position: relative;
                // arrow right
                &:not(:last-child){
                    &:after{
                        content: "";
                        position: absolute;
                        right: -25px;
                        top: 4px;
                        width: 10px;
                        height: 10px;
                        background: url("../img/arrow-breadcrumb.svg") no-repeat center center;
                    }
                }
                a{
                    display: block;
                    font-family: 'Atyp BL Text', sans-serif;
                    font-weight: 600;
                    font-size: 15px;
                    line-height: 105%;
                    color: #9995A6;
                    transition: all .3s;
                    &:hover{
                        color: white;
                    }
                }
                span{
                    font-family: 'Atyp BL Text', sans-serif;
                    font-weight: 600;
                    font-size: 1.5rem;
                    line-height: 105%;
                    /* identical to box height, or 16px */
                    color: #FFFFFF;
                }
            }
        }
        a{
            display: flex;
            align-items: center;
            gap: 1.4rem;
            font-family: 'Atyp BL Text', sans-serif;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 100%;
            opacity: 0.6;
            transition: opacity .4s ease;
            color: #FFFFFF;
            &:hover{
                opacity: 1;
            }
        }
    }
    .featured-info-post{
        z-index: 1;
        position: relative;
        margin-top: 4.8rem;
        margin-bottom: 8rem;
        .image{
            width: 100%;
            max-width: 121.6rem;
            margin: 0 auto;
            height: 47.2rem;
            overflow: hidden;
            img{
                width: 100%;
                height: 100%;
                border-radius: 1rem;
                object-fit: cover;
            }
        }
        .box-info-post{
            width: 100%;
            max-width: 100.8rem;
            background: #FFFFFF;
            box-shadow: 0px 24px 40px -8px rgba(16, 12, 28, 0.06);
            border-radius: 8px;
            padding: 4.8rem 0px 4.8rem 7.2rem;
            margin: 0 auto;
            margin-top: -106px;
            position: relative;
            z-index: 1;
            .categorie{
                background-color: rgba(246, 122, 203, 0.15);
                padding: 6px 10px;
            }
            h1{
                font-family: 'Atyp BL Text', sans-serif;
                font-weight: 600;
                font-size: 4rem;
                line-height: 120%;
                color: var(--gray-scale-01);
                max-width: 86.4rem;
                margin-top: 2rem;
                margin-bottom: 2.8rem;
            }
            ul{
                display: flex;
                align-items: center;
                gap: 5.2rem;
                li{
                    position: relative;
                    &:not(:last-child){
                        &:after{
                            content: "";
                            background: #9995A6;
                            opacity: 0.3;
                            width: 4px;
                            height: 4px;
                            position: absolute;
                            right: -30px;
                            top: 8px;
                        }
                    }
                    display: flex;
                    align-items: center;
                    gap: 0.8rem;
                    span{
                        font-family: 'Atyp BL Text', sans-serif;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 150%;
                        color: var(--gray-scale-04);
                    }
                }
            }
        }
    }
    .info-post-geral{
        display: none;
        padding-top: 8rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        .left-content{
            position: sticky;
            top: 12rem;
            flex: 1;
            width: 100%;
            max-width: 24rem;
            h6{
                color: var(--gray-scale-01);
                margin-bottom: 4rem;
            }
            ul{
                width: 100%;
                margin-bottom: 4rem;
                padding-bottom: 4rem;
                position: relative;
                &:after{
                    content: "";
                    height: 2px;
                    width: 100%;
                    background: url("../img/line-topics.svg") no-repeat center center;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
                li{
                    &:not(:last-child){
                        margin-bottom: 1.6rem;
                    }
                    a{
                        display: flex;
                        align-items: flex-start;
                        // with the class active
                        &.active, 
                        &:hover{
                            span{
                                color: var(--gray-scale-01);
                            }
                            &:before{
                                background-color: #F67ACB;
                            }
                        }
                        &:before{
                            content: "";
                            width: 4px;
                            height: 4px;
                            display: inline-block;
                            background-color: #9995A6;
                            margin-top: 1.3rem;
                            margin-right: 1.6rem;
                            transition: all .3s;
                        }
                        span{
                            transition: all .3s;
                            flex: 1;
                            font-family: 'Atyp BL Text', sans-serif;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 1.6rem;
                            line-height: 150%;
                            color: var(--gray-scale-04);
                            
                        }
                    }
                }
            }
            button{
                display: flex;
                align-items: center;
                gap: 1.6rem;
                font-weight: 600;
                font-size: 16px;
                line-height: 100%;
                color: var(--gray-scale-01);
                transition: all .3s;
                &:hover{
                    color: var(--pink);
                }
            }
        }
        .right-content{
            flex: 1;
            margin-left: 8.5rem;
            .content-post{
                width: 100%;
                border-bottom: 2px solid rgba(28, 22, 46, 0.10);
                margin-bottom: 4rem;
                padding-bottom: 4rem;
                blockquote{
                    p{
                        font-family: 'Atyp BL Text', sans-serif;
                        font-weight: 400;
                        font-size: 1.8rem;
                        line-height: 175%;
                        color: var(--gray-scale-03);
                        margin-bottom: 0px;
                    }
                    margin-bottom: 4rem;
                    border-left: 2px solid rgba(92, 31, 166, 0.15);
                    padding-left: 2.4rem;
                }
                h1,
                h2,
                h3,
                h4, 
                h5,
                h6{
                    font-family: 'Atyp BL Text', sans-serif;
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 120%;
                    color: var(--gray-scale-01);
                    margin-bottom: 2.4rem;
                }
                p{
                    font-family: 'Atyp BL Text', sans-serif;
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 175%;
                    color: var(--gray-scale-03);
                    margin-bottom: 1.6rem;
                }
                ul{
                    margin-bottom: 4rem;
                    li{
                        margin-bottom: 1.2rem;
                        display: flex;
                        align-items: flex-start;
                        &:before{
                            content: "";
                            width: 4px;
                            height: 4px;
                            display: inline-block;
                            background-color: #9995A6;
                            margin-top: 1rem;
                            margin-right: 1.6rem;
                            transition: all .3s;
                        }
                    }
                }
            }
            .share{
                display: flex;
                align-items: center;
                justify-content: space-between;
                strong{
                    font-weight: 600;
                    font-size: 1.6rem;
                    line-height: 100%;
                    color: var(--gray-scale-01);
                }
                ul{
                    display: flex;
                    align-items: center;
                    gap: 3.2rem;
                    transition: all .3s;
                    &:hover{
                        filter: brightness(0.4);
                    }
                }
            }
        }
    }
    // Responsive part
    @media (max-width: 1200px){
        .info-post-geral{
            .left-content{
                display: none;
            }
            .right-content{
                max-width: 100%;
                margin-left: 0px;
            }
        }
    }
    @media (max-width: 991px){
        .featured-info-post{
            .box-info-post{
                max-width: 80rem;
                padding: 4rem;
            }
        }
    }
    @media (max-width: 768px){
        .top-details{
            .breadcrumbs{
                li{
                    span{
                        display: block;
                        max-width: 50rem;
                        line-height: 150%;
                        font-size: 1.8rem;
                    }
                }
            }
            a{
                justify-content: flex-end;
            }
        }
        .featured-info-post{
            .box-info-post{
                max-width: 60rem;
                padding: 4rem;
            }
        }
    }
    @media (max-width: 560px){
        .top-details{
            flex-direction: column;
            align-items: flex-start;
            gap: 4rem;
            .breadcrumbs{
                flex-wrap: wrap;
                gap: 3rem;
            }
        }
        .featured-info-post{
            .image{
                height: 28rem;
            }
            .box-info-post{
                // remember phone the width is 90%
                width: 90%;
                padding: 3rem 2rem;
                h1{
                    font-size: 2.2rem;
                    margin-bottom: 1.5rem;
                    margin-top: 1.5rem;
                }
                .categorie{
                    font-size: 1rem;
                }
                ul{
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: flex-start;
                    gap: 1rem;
                    li{
                        &:not(:last-child){
                            &:after{
                                display: none
                            }
                        }
                    }
                }
            }
        }
        .info-post-geral{
            padding-top: 4rem;
            .right-content{
                .content-post{
                    blockquote{
                        padding-left: 1.5rem;
                        margin-bottom: 2rem;
                        p{
                            font-size: 1.6rem;
                        }
                    }
                    h1, h2, h3, h4, h5, h6{
                        font-size: 2.4rem;
                        margin-bottom: 1.5rem;
                    }
                    p{
                        font-size: 1.6rem;
                        margin-bottom: 1.5rem;
                    }
                    ul{
                        margin-bottom: 2rem;
                        li{
                            font-size: 1.6rem;
                        }
                    }
                }
                .share{
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 2rem;
                }
            }
        }
    }

}
.s-post-similiar{
    padding-top: 12rem;
    padding-bottom: 12rem;
    position: relative;
    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 4rem;
    }
    .all{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 3.2rem;
        .card-post-default{
            .info{
                h6{
                    color: #FFFFFF;
                }
            }
        } 
    }
    &:after{
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2px;
        background: url("../img/line-footer.svg") no-repeat center center;
    }
    // Responsive
    @media (max-width: 768px){
        .all{
            grid-template-columns: 1fr 1fr;
        }
    }
    @media (max-width: 560px){
        .all{
            grid-template-columns: 1fr;
        }
        .top{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            padding-bottom: 2rem;
        }
    }
}

footer{
    padding-top: 8rem;
}